<style>
    /* ====== ПАНЕЛИ СВЕРХУ ====== */
      :root {
        --bg: #222;
        --clr: #fff;
      }

      .top-bar {
        background: var(--bg);
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }

      .top-bar ul {
        position: relative;
        display: flex;
        gap: 50px;
      }

      .top-bar ul li {
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
      }

      .top-bar ul li::before {
        content: '';
        position: absolute;
        inset: 30px;
        box-shadow: 0 0 0 10px var(--clr),
                    0 0 0 20px var(--bg),
                    0 0 0 22px var(--clr);
        transition: 0.5s;
      }

      .top-bar ul li:hover::before {
        inset: 15px;
      }

      .top-bar ul li::after {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--bg);
        transform: rotate(45deg);
        transition: 0.5s;
      }

      .top-bar ul li:hover::after {
        inset: 0px;
        transform: rotate(0deg);
      }

      .top-bar ul li a {
        position: relative;
        text-decoration: none;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .top-bar ul li a i {
        font-size: 2em;
        transition: 0.5s;
        color: var(--clr);
        opacity: 1;
      }

      .top-bar ul li:hover a i {
        color: var(--clr);
        transform: translateY(-40%);
      }

      .top-bar ul li a span {
        position: absolute;
        font-family: sans-serif;
        color: var(--clr);
        opacity: 0;
        transition: 0.5s;
        transform: scale(0) translateY(200%);
      }

      .top-bar ul li:hover a span {
        opacity: 1;
        transform: scale(1) translateY(100%);
      }

      .top-bar ul li:hover a i,
      .top-bar ul li a span {
        filter: drop-shadow(0 0 20px var(--clr))
                drop-shadow(0 0 40px var(--clr))
                drop-shadow(0 0 60px var(--clr));
      }
</style>


  <div class="top-bar">
    <ul>
      <li style="--clr:#F2A90A;">
        <a href="/posts/">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>
      </li>

      <li style="--clr:#F2A90A;">
        <a href="#">
          <i class="fa-solid fa-user"></i>
          <span>Profile</span>
        </a>
      </li>

      <li style="--clr:#F2A90A;">
        <a href="#">
          <i class="fa-solid fa-heart"></i>
          <span>Likes</span>
        </a>
      </li>

      <li style="--clr:#F2A90A;">
        <a href="/posts/create">
          <i class="fa-solid fa-gear"></i>
          <span>Post</span>
        </a>
      </li>

      <li style="--clr:#F2A90A;">
        <a href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>Search</span>
        </a>
      </li>
    </ul>
  </div>