<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8">
      <title>HTML Document</title>
       <link rel="stylesheet" href="style.css">
       <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

       <style>
           * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --bg: #222;
   --clr: #fff;
}
body {
   display: flex;
   flex-direction: column;   /* сверху вниз */
   min-height: 100vh;
   background: var(--bg);
}

       </style>
   </head>
   <body>
   {% include "header/header.html" %}
   <div class="main-content">
        <a href="/posts/">Get posts</a>
   </div>
   </body>
</html>